@model OnSale.Common.Entities.Department
@{
    ViewData["Title"] = "Agregar Estado";
}

<h2>Agregar</h2>
<h4>Estado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCountry" />
            
            <partial name="_Department" />
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                <a asp-action="Details" asp-route-id="@Model.IdCountry" class="btn btn-success"><i class="glyphicon glyphicon-backward"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}